@page "{handler?}"
@model NewsSite.Pages.News.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NewsOne</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewsOne.ID" />
            <div class="form-group">
                <label asp-for="NewsOne.Title" class="control-label"></label>
                <input asp-for="NewsOne.Title" class="form-control" />
                <span asp-validation-for="NewsOne.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsOne.Text" class="control-label"></label>
                <input asp-for="NewsOne.Text" class="form-control" />
                <span asp-validation-for="NewsOne.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsOne.Date" class="control-label"></label>
                <input asp-for="NewsOne.Date" class="form-control" />
                <span asp-validation-for="NewsOne.Date" class="text-danger"></span>
            </div>
            <div class="form-group">

                @{
                    int index = 0;
                }

                @foreach (var comment in Model.NewsOne.Comments)
                {
                    <input type="hidden" name="NewsOne.Comments[@index].ID" value="@comment.ID" />
                    <input type="hidden" name="NewsOne.Comments[@index].NewsOneId" value="@comment.NewsOneId" />
                    <input name="NewsOne.Comments[@index].TextComment" value="@comment.TextComment" />
                    <input type="submit" asp-page-handler="DelComment" asp-route-id="@comment.ID" value="Delete" />
                    @*<a asp-page-handler="DelComment" asp-route-id="@comment.ID">Delete</a>*@

                    index++;
                }
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
       
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
