@model ASP_DZ_6_Books.Models.Book
<h3>Details of book</h3>
<ul>
    <li>@Html.ViewData.Model.NameBook</li>
    <li>@Html.ViewData.Model.FIOAuthor</li>
    <li>@Html.ViewData.Model.Genre</li>
    <li>@Html.ViewData.Model.Publisher</li>
    <li>@Html.ViewData.Model.YearIssue</li>
   
</ul>


