

@{
    ViewData["Title"] = "Home Page";
}

@model IndexBooksVM
@*@foreach (var book in Model)
    {
        <div>@book.NameBook</div>
        <div>@book.Image</div>
    }*@

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FIOAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>

        </tr>
    </thead>
        <tbody>
            @foreach (var item in Model)
            {

            }
        </tbody>
    </table>*@
<h1>Index</h1>
<a asp-action="Create"
   class="btn btn-outline-primary mb-5">Create</a>

<form asp-action="Index" method="get">
    <div class="col col-md-4 col-12">
        <div class="mb-3">
            <input asp-for="Search"
                   class="form-control"
                   placeholder="@nameof(Model.Search)" />

        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-success">Search</button>
        </div>

    </div>
</form>
<div class="row">
    @foreach (BookDTO book in Model.Books)
    {
        <div class="col col-xl-3 col-lg-4 col-md-6 col-12 mb-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-truncate">@book.NameBook</h5>
                    <p class="card-text text-truncate">@book.FIOAuthor</p>
                    <p class="card-text">

                    </p>
                    <div class=" btn-group btn-group-sm" role="group">
                        <a asp-action="Details"
                           asp-route-id="@book.Id" class="btn btn-success">Details</a>
                        <a asp-action="Edit"
                           asp-route-id="@book.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete"
                           asp-route-id="@book.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>
                <img src="data:image/*;base64,@(Convert.ToBase64String(book.Image))" class="card-img-bottom"
                     alt="@book.NameBook" />
            </div>

        </div>
    }
</div>
<a asp-action="Login"
   asp-controller="Account"
   class="btn btn-lg btn-outline-secondary mb-3">LogIn</a>

<a asp-action="Logout"
   asp-controller="Account"
   class="btn btn-lg btn-outline-secondary mb-3">LogOut</a>
